<!-- <div class="container" *ngIf="!card">
  loading
</div>
<p>{{card.name}}</p>
<p>{{card.stats.resource}}</p>

<a href="" routerLink="/cardlist/buckling-blow-red">related cards
</a> -->
<header class="header">
  <div class="container">
    <div>
      <h1>Card details</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, deleniti.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, deleniti.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, deleniti.</p>
    </div>
    <img [src]="card.image" alt={{card.name}}>
  </div>
</header>

<section class="boxes">
  <div class="container">
    <div class="box">
      <h2>
        <i class="fas fa-arrows-alt-v"></i>
        SOme kind of info
        <p>
          Paragraf Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste illo unde quia!llo unde quia!llo unde
          quia!
        </p>
      </h2>
    </div>
    <div class="box">
      <h2>
        <i class="fas fa-mobile"></i>
        SOme kind of info
        <p>
          Paragraf Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste illo unde quia!llo unde quia!llo unde
          quia!
        </p>
      </h2>
    </div>
    <div class="box">
      <h2>
        <i class="fas fa-arrows-alt"></i>
        SOme kind of info
        <p>
          Paragraf Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste illo unde quia!llo unde quia!llo unde
          quia!
        </p>
      </h2>
    </div>
  </div>
</section>
