<!-- <div class="container" *ngIf="!card">
  loading
</div>
<p>{{card.name}}</p>
<p>{{card.stats.resource}}</p>

<a href="" routerLink="/cardlist/buckling-blow-red">related cards
</a> -->
<header class="header">
  <h1 class="text-center">{{card.name}}</h1>
  <div class="container">
    <div class="box">
      <p>{{card.text}}</p>
      <div *ngIf="card.flavour">
        <hr>
        <p class="fst-italic">{{card.flavour}}</p>
      </div>


    </div>
    <img [src]="card.image" alt={{card.name}}>
  </div>
</header>

<section class="boxes">
  <div class="container" *ngIf="card.rulings != 0">
    <div class="box">
      <div>
        <h3 (click)="onExpand()" class="clicker">
          Rulings ({{rulesCount}})

        </h3>
      </div>


      <hr>

      <div *ngIf="expand">


        <div *ngFor="let ruling of card.rulings">
          <p>{{ruling.description}}</p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
